##### Class 2 DATA SPLITTING + PRE PROCESSING WITH StandardScaler

In [1]:
import sklearn
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [2]:
diabetes = load_diabetes()
print(diabetes.keys())
print(diabetes.DESCR)
print(diabetes.feature_names) # to see feature names 
print(diabetes.data[:5]) # to see a sample of input features 
print(diabetes.target[:5])  #to see target values 
# print(diabetes.target_names) shows attribute error as the dataset is for regression

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])
.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

:Number of Instances: 442

:Number of Attributes: First 10 columns are numeric predictive values

:Target: Column 11 is a quantitative measure of disease progression one year after baseline

:Attribute Information:
    - age     age in years
    - sex
    - bmi     body mass index
    - bp      average blood pressure
    - s1      tc, total serum cholesterol
    - s2      ldl, low-density lipoproteins
    - s3      hdl, high-density lipoproteins
    - s4      tch, total cholesterol / HDL
    - s5      ltg, possibly log of serum triglycerides level
    - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
[[ 0.03807591  0.05068012  0.06169621  0.02187239 -0.0442235  -0.03482076
  -0.04340085 -0.00259226  0.01990749 -0.01764613]
 [-0.00188202 -0.04464164 -0.05147406 -0.02632753 -0.00844872 -0.01916334
   0.07441156 -0.03949338 -0.06833155 -0.09220405]
 [ 0.08529891  0.05068012  0.04445121 -0.00567042 -0.04559945 -0.03419447
  -0.03235593 -0.00259226  0.00286131 -0.02593034]
 [-0.08906294 -0.04464164 -0.01159501 -0.03665608  0.01219057  0.02499059
  -0.03603757  0.03430886  0.02268774 -0.00936191]
 [ 0.00538306 -0.04464164 -0.03638469  0.02187239  0.00393485  0.01559614
   0.00814208 -0.00259226 -0.03198764 -0.04664087]]
[151.  75. 141. 206. 135.]

In [3]:
# converting the dataset into dataframe
df=pd.DataFrame(data=diabetes.data, columns= diabetes.feature_names)
df['target']=diabetes.target
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [4]:
# code for Ml
x,y= diabetes.data, diabetes.target
feature_names = diabetes.feature_names
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2 , random_state=42)
scaler=StandardScaler()
x_train_scaled= pd.DataFrame(scaler.fit_transform(x_train), columns=feature_names)
x_test_scaled= pd.DataFrame(scaler.transform(x_test), columns=feature_names)
model= LinearRegression()
model.fit(x_train_scaled, y_train)
y_pred = model.predict(x_test_scaled)
mse= mean_squared_error(y_test, y_pred)
print(" mean squared error :" ,mse)    # lower the MSE better the model

 mean squared error : 2900.193628493481

In [5]:
# Approximate real-world mean and std for each feature
manual_mean = {'age': 48, 'sex': 0.5, 'bmi': 26.5, 'bp': 92, 's1': 190,'s2': 125, 's3': 50, 's4': 4.0, 's5': np.log(150), 's6': 100}
manual_std = {'age': 10, 'sex': 0.5, 'bmi': 5, 'bp': 12, 's1': 30,'s2': 20, 's3': 15, 's4': 0.5, 's5': 0.3, 's6': 15}
def user_inputs():
    print("\nenter values for the following")
    age= float(input("enter age"))
    sex = float(input("enter sex 1= male , 2= female"))
    BMI= float(input("enter BMI"))
    BP= float(input("enter average blood pressure "))
    s1= float(input("enter total serum cholesterol"))
    s2= float(input("enter low density lipoproteins"))
    s3 =float(input("enter high density lipoproteins"))
    s4 = float(input("enter total cholesterol / high density lipoproteins"))
    s5_real= float(input("enter possible log serum triglycerides level"))
    s6= float(input("enter blood sugar level"))
    s5=np.log(s5_real)
    
    raw_input = {'age': age, 'sex': sex, 'bmi': BMI, 'bp': BP,'s1': s1, 's2': s2, 's3': s3, 's4': s4,'s5': s5, 's6': s6 }

# standardize manually
    standardized_input = { key: (raw_input[key] - manual_mean[key]) / manual_std[key]
                      for key in raw_input }

    input_df = pd.DataFrame([standardized_input],columns=feature_names)
    prediction = model.predict(input_df)[0]
    predict = round(prediction, 2)

    print("-------------------------------------------------------------------------")
    print("\nPateint report")
    print(f"\nPredicted Diabetes Progression Score (ie., target value):",predict)
    print("Reference")
    print("MINIMUM:",np.min(diabetes.target))
    print("MAXIMUM:",np.max(diabetes.target))
    print("MEAN:",round(np.mean(diabetes.target),2))
    if predict < 100:
        print("Target Value lower than 100 , diabetes progression low ")
    elif predict > 100 and predict < 180 :
        print("Target Value between 100-180 , diabetes progression moderate ")
    else :
        print("Target Value greater than 180 , diabetes progression high")

In [ ]:
# Call the function
user_inputs()

# Sample input
# enter age 32
# enter sex 1= male , 2= female 1
# enter BMI 28
# enter average blood pressure  98
# enter total serum cholesterol 120
# enter low density lipoproteins 100
# enter high density lipoproteins 45
# enter total cholesterol / high density lipoproteins 2
# enter possible log serum triglycerides level 110
# enter blood sugar level 85

enter values for the following